.footer {
  background-color: $black;
  color: $white;
  font-family: $nav;
  padding: 20px;

  .footer-names {
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
  }

  .footer-socials {
    display: flex;
    justify-content: space-around;

    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .hannah-social,
  .james-social {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  h4 {
    font-size: 18px;
  }
}
