.flight-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $main;
  border: 1px solid $black;
  width: 300px;
  padding: 20px 0px;
  border-radius: 10px;
  background-color: $white;
}

.flight-form input {
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
}

.car-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $main;
  border: 1px solid $black;
  width: 300px;
  padding: 20px 0px;
  border-radius: 10px;
  background-color: $white;

  .car-radios {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 10px 0px;

    div {
      display: flex;
      justify-content: space-between;
      padding: 3px 0px;
    }
  }
}

.submit-button {
  background-color: $light-blue;
  color: $white;
  padding: 3px 10px;
  border: 1px solid $light-blue;
  border-radius: 18px;
}

.submit-button:hover {
  box-shadow: 1px 1px 10px $light-blue;
}

.airport-list {
  margin: 20px 0px;
  width: 300px;
}

.result-section

  background-color: white;
  border: 1px solid $black;
  width: 400px;
  height: 100px;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .result {
    width: 320px;
    margin: 0px 5px;
    position: relative;
    top: -8px;
  }

  .tree {
    background-image: url("../assets/moving_tree.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
  }
}

.car-result-section {
  background-color: white;
  border: 1px solid $black;
  margin-top: 50px;
  width: 500px;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $black;
  display: flex;
  justify-content: center;
  align-items: center;

  .car-result {
    width: 320px;
    margin: 0px 5px;
  }

  .car-tree {
    background-image: url("../assets/moving_tree.gif");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
  }
}

.reload-button {
  background-color: $light-blue;
  color: $white;
  padding: 3px 10px;
  border: 1px solid $light-blue;
  border-radius: 18px;
  position: relative;
  top: -30px;

.flight-form input {
  border: none;
  border-bottom: 1px solid black;
}

.main-inputs input {
  width: 80%;
}

.main-inputs label {
  text-align: left;
  width: 80%;
}

.flight-form input:focus {
  background-color: lightgrey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
