header {
  background-color: $light-blue;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $white;
}

h1 {
  position: relative;
  top: 20px;
  font-family: $header;
}

.logo {
  background-image: url('../assets/footprint2.png');
  height: 90px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 45%;
}

.plane {
  background-image: url('../assets/plane2.png');
  background-size: contain;
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  animation: flying 30s infinite linear;
  position: relative;
  left: -800px;
}

@keyframes flying {
  0% {
    transform: translateX(-10vw);
  }
  45% {
    transform: translateX(110vw);
  }
  50% {
    transform: translateX(110vw) rotateY(180deg);
  }
  95% {
    transform: translateX(-10vw) rotateY(180deg);
  }
  100% {
    transform: translateX(-10vw) rotateY(0deg);
  }
}
