nav {
  background-color: $dark-blue;
  width: 100vw;
  line-height: 2;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 0px auto;
    width: 50%;

    li {
      list-style: none;
      padding: 2px;

      a {
        font-size: 16px;
        color: white;
        text-decoration: none;
        font-family: $nav;
        text-transform: uppercase;
        letter-spacing: -0.7px;
      }

      a:hover {
        color: $light-blue;
        text-shadow: 1px 1px 10px $light-blue;
      }
    }
  }
}
