@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
header {
  background-color: #00a8e8;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
}

h1 {
  position: relative;
  top: 20px;
  font-family: "BioRhyme", serif;
}

.logo {
  background-image: url("../assets/footprint2.png");
  height: 90px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 45%;
}

.plane {
  background-image: url("../assets/plane2.png");
  background-size: contain;
  height: 150px;
  width: 100px;
  background-repeat: no-repeat;
  animation: flying 30s infinite linear;
  position: relative;
  left: -800px;
}

@keyframes flying {
  0% {
    transform: translateX(-10vw);
  }
  45% {
    transform: translateX(110vw);
  }
  50% {
    transform: translateX(110vw) rotateY(180deg);
  }
  95% {
    transform: translateX(-10vw) rotateY(180deg);
  }
  100% {
    transform: translateX(-10vw) rotateY(0deg);
  }
}
.flight-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Varela Round", sans-serif;
  width: 100%;
  padding: 20px 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  /* Firefox */
}
.flight-form .field {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
}
.flight-form .field input {
  width: 100%;
  line-height: 2;
  margin-top: 0;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px 5px;
}
.flight-form .field label {
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.flight-form .radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 15%;
}
.flight-form .radio input {
  width: 30%;
}
.flight-form .radio label {
  width: 50%;
}
.flight-form .submit-button {
  line-height: 2;
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  padding: 10px 20px;
  margin: 10px;
  color: #003459;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.flight-form .submit-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px #00a8e8;
}
.flight-form .submit {
  width: 10%;
}
.flight-form input::-webkit-outer-spin-button,
.flight-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.flight-form input[type=number] {
  -moz-appearance: textfield;
}

.car-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Varela Round", sans-serif;
  width: 100%;
  padding: 20px 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  /* Firefox */
}
.car-form .field {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
}
.car-form .field input {
  width: 100%;
  line-height: 2;
  margin-top: 0;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px 5px;
}
.car-form .field label {
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}
.car-form .radio {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 40px;
}
.car-form .radio div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px;
}
.car-form .radio label {
  width: 70%;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}
.car-form .submit-button {
  line-height: 2;
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  padding: 10px 20px;
  margin: 10px;
  color: #003459;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 150px;
}
.car-form .submit-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px #00a8e8;
}
.car-form .submit {
  width: 10%;
}
.car-form input::-webkit-outer-spin-button,
.car-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.car-form input[type=number] {
  -moz-appearance: textfield;
}

.result-section {
  background-color: white;
  border: 1px solid #00171f;
  width: 400px;
  height: 100px;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #00171f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Varela Round", sans-serif;
}
.result-section .result {
  width: 320px;
  margin: 0px 5px;
  position: relative;
  top: -8px;
}
.result-section .tree {
  background-image: url("../assets/moving_tree.gif");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
.result-section span {
  color: green;
}

.car-result-section {
  background-color: white;
  border: 1px solid #00171f;
  margin: 50px auto;
  width: 500px;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #00171f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round", sans-serif;
}
.car-result-section .car-result {
  width: 320px;
  margin: 0px 5px;
}
.car-result-section .car-tree {
  background-image: url("../assets/moving_tree.gif");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
.car-result-section span {
  color: green;
}

.reload-button {
  background-color: #00a8e8;
  color: #ffffff;
  padding: 3px 10px;
  border: 1px solid #00a8e8;
  border-radius: 18px;
  position: relative;
  top: -30px;
  font-family: "Varela Round", sans-serif;
}

.airport-codes {
  margin: 50px auto;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 14px;
}
.airport-codes a {
  color: white;
}

nav {
  background-color: #003459;
  width: 100vw;
  line-height: 2;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  margin: 0px auto;
  width: 50%;
}
nav ul li {
  list-style: none;
  padding: 2px;
}
nav ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}
nav ul li a:hover {
  color: #00a8e8;
  text-shadow: 1px 1px 10px #00a8e8;
}

.footer {
  background-color: #00171f;
  color: #ffffff;
  font-family: "Varela Round", sans-serif;
  padding: 20px;
}
.footer .footer-names {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
}
.footer .footer-socials {
  display: flex;
  justify-content: space-around;
}
.footer .footer-socials a {
  color: white;
  text-decoration: none;
}
.footer .footer-socials a:hover {
  text-decoration: underline;
}
.footer .hannah-social,
.footer .james-social {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.footer h4 {
  font-size: 18px;
}

.home-section {
  padding: 0px;
  font-family: "Varela Round", sans-serif;
  color: white;
}
.home-section h1 {
  padding: 0px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 30px;
}

.about-section {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Varela Round", sans-serif;
}
.about-section h1 {
  padding: 0px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 400px;
  margin-bottom: 30px;
}
.about-section p {
  width: 700px;
  padding-bottom: 10px;
  color: white;
  margin-top: 20px;
}
.about-section a {
  color: white;
  text-decoration: none;
}

.tickerboard {
  margin: 20px auto;
  text-align: center;
}

.tickerboard ul {
  margin: 10px auto;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  background: #007ea7;
  background: radial-gradient(circle, #007ea7 0%, #003459 100%);
  padding-top: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
